{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{{ output.wwwroot }}}theme/nova/pix/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{{ output.wwwroot}}}theme/nova/pix/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{{ output.wwwroot}}}theme/nova/pix/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{{ output.wwwroot}}}theme/nova/pix/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{{ output.wwwroot}}}theme/nova/pix/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{{ output.wwwroot}}}theme/nova/pix/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{{ output.wwwroot}}}theme/nova/pix/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>