{{!
    @template theme_boost/nav-drawer


    Example context (json): {}
}}
{{# output.loggedin }}
<div id="nav-drawer" data-region="drawer" class="d-print-none moodle-has-zindex" tabindex="-1">
    {{> theme_boost/flat_navigation }}
</div>
{{/ output.loggedin }}
